.head-sectione {
    background-color: var(--body-background-color);
    border-bottom: 1px solid;
    color: #ececec;
}

.conteiner-top {
    height: 80px;
}

.head-sectione__logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-color);
    text-decoration: none;
}

.head-sectione__logo--color {
    color: var(--beckground-color);
}