/* ======================== team ========================*/

.team {
    background-color: var(--teams-bacground-color);
}

.team__header,
.team__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-top: 0;
}

.team__header {
    margin-bottom: 10px;
}

.team__text {
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color-p);
}

.team__crew {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -30px;
    &>.items {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    background-color: var(--body-background-color);
    width: 270px;
}
}

.team__conteiner {
    display: block;
    padding: 30px 0;
    margin-top: 0;
    margin-bottom: 0;
    outline: 2px solid var(--technical-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__sochmed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    margin-top: 16px;
    & .icones {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    outline: 2px solid var(--technical-color);
    transition: background-color 250ms var(--timing-functione), fill 250ms var(--timing-functione);
}
}

.team__links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--icone-color);
    fill: currentColor;
    outline: 2px solid var(--technical-color);
    transition: background-color 250ms var(--timing-functione), fill 250ms var(--timing-functione);
    &:hover,
    &:focus {
    background-color: var(--beckground-color);
}

    &:hover .icones,
    &:focus .icones {
    fill: var(--body-background-color);
}
}

