.conteiner {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    outline: 2px solid var(--technical-color);
}

    @media screen and (min-width:480px) {
    .conteiner {
        width: 480px;

    }
}
  @media screen and (min-width:768px) {
      .conteiner {
        min-width: 768px;
      }
  }
   @media screen and (min-width:1200px) {
       .conteiner {
           min-width: 1200px;
       }

   }
